html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1280px;
}

.buttons-fixed {
  position: fixed;
  bottom: 2%;
  right: 2%;
  z-index: 99;
  display: none;
  margin-bottom: 0;
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  padding-left: 12px;
  padding-right: 12px;
  margin-right: 5px;
  text-transform: none;
}

.button:last-child,
button:last-child,
input[type="submit"]:last-child,
input[type="reset"]:last-child,
input[type="button"]:last-child {
  margin-right: 0;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: none;
}

.quote-container {
  float: left;
  max-width: 600px;
  padding: 15px;
  background-color: #f9f9f9;
  border-left: 4px solid #ccc;
  border-radius: 5px;
}

.quote {
  font-style: italic;
  color: #888;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.author {
  text-align: right;
  color: #888;
  font-size: 0.9em;
}
